<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gestió Productes{% endblock %}</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      .table th,
      .table td {
        vertical-align: middle;
      }

      .navbar-brand {
        font-weight: bold;
      }

      .btn + .btn {
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'productes:productes_list' %}">
          Gestió Productes
        </a>
        <div>
          <a
            class="btn btn-outline-light"
            href="{% url 'productes:productes_list' %}"
          >
            Llista
          </a>
          <a
            class="btn btn-outline-light"
            href="{% url 'productes:productes_create' %}"
          >
            Afegir
          </a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">{% block content %} {% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
